{% extends "layouts/base_generic.html" %}

{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">name_company</th>
                <td>{{ object.name_company }}</td>
            </tr>
            <tr>
                <th scope="row">manager's name</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th scope="row">description</th>
                <td>{{ object.description }}</td>
            </tr>
            <tr>
                <th scope="row">created_date</th>
                <td>{{ object.created_date }}</td>
            </tr>
            <tr>
                <th scope="row">change_date</th>
                <td>{{ object.change_date }}</td>
            </tr>
            <tr>
                <th scope="row">address</th>
                <td>{{ object.address }}</td>
            </tr>

        </tbody>
    </table>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">phone_number</th>
            </tr>

            {% for values in object.phone_number.iterator %}
                <tr class="table-info">
                    <td class="mb-lg-0">{{ values }}</td>
                </tr>
            {% endfor %}

            <tr>
                <th scope="row">phone_number</th>
            </tr>
            {% for values in object.e_mail.iterator %}
                <tr class="table-info">
                    <td class="mb-lg-0">{{ values }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
