{% load filter_extras %}

{% if is_paginated %}
    <ul class="pagination">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% parameters_url_filter page_obj.previous_page_number 'page' request.GET.urlencode%}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link disabled" aria-label="Next">
                    <span>|</span>
                </a>
            </li>
        {% endif %}


{#        {% for i in paginator.page_range %}#}
{#            {% if page_obj.number == i %}#}
{#            {% elif page_obj.number == i %}#}
        <li class="page-item disabled">
            <a class="page-link disabled">{{ page_obj.number }}</a>
        </li>
{#            {% else %}#}
{#                <li class="page-item">#}
{#                    <a class="page-link" href="{% parameters_url_filter i 'page' request.GET.urlencode%}">{{ i }}</a>#}
{#                </li>#}
{#            {% endif %}#}
{#        {% endfor %}#}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% parameters_url_filter page_obj.next_page_number 'page' request.GET.urlencode%}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link disabled" aria-label="Next">
                    <span>|</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
