{% extends "layouts/base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

    {% load static %}

{% if object_list %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">look_cooperation</th>
            <th scope="col">name_manager</th>
            <th scope="col">email</th>
            <th scope="col">last_login</th>
        </tr>
        </thead>

        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'cooperation:list_user' pk=object.id %}">#</a>
                </td>
                <td>
                    <p>{{ object.first_name }} {{ object.last_name }}</p>
                    <p>({{ object.username }})</p>
                </td>
                <td>{{ object.email }}</td>
                <td>{{ object.last_login }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    <p class="link-warning">Don't have records</p>

{% endif %}
    {% include 'layouts/_pagination.html' %}
{% endblock content %}
