{% extends "layouts/base_generic.html" %}

{% block content %}
    <h1>Index </h1>
    <p>User for test</p>
    <p class="text-info bg-dark">-login = <code>&lt;data_test&gt;</code></p>
    <p class="text-info bg-dark">-password = <code>&lt;47NvRZSkK_XCAbh&gt;</code></p>
    <ul>
        <li>superuser</li>
        <li>use here faker for generic fake data</li>
        <li>python3 manage.py createdata_users</li>
        <li>python3 manage.py createdata_customer</li>
        <li>python3 manage.py createdata_do_projects</li>
        <li>python3 manage.py createdata_cooperation</li>

    </ul>
{% endblock %}